body{
    font-family: fantasy;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    color: rgb(27, 27, 27);

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(141, 55, 55);

}
p{
    font-size: 10px;
}
button{
    border-radius: 5%;
    border: solid rgb(53, 48, 48);
    background-color: rgb(178, 179, 174);
    border-style: groove;
    padding: 12px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;   
    cursor: pointer;
    transition: background-color;
}
input[type="text"]{
    font-size: 10px;
    padding: 10px;
    width: 350px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}
input[placeholder]{
    color: rgb(10, 9, 9);
    background-color: rgb(197, 167, 167);
}
input[type="text"]:focus{
    border-color: rgb(97, 97, 110);
    outline: none;
}
#texto{
    font-size: 24px;
    margin-bottom: 20px;
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px black;

}